:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }

  .top-section{
    background-color: var(--black);
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

    .top-section-right p a, .top-section-left p a{
    font-size: 10px;
    text-decoration: none;
    color: var(--white);
  }

  .top-section-right p a:hover, .top-section-left p a:hover{
    text-decoration:underline;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
  }
  .container-menu-mobile{
    display: none;
  }
  
  .logo {
    width: 100px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-left ul li a:hover
   {
    border: 1px solid var(--black);
    color: var(--black);
  }

  .navbar-right ul li a:hover{
    border: none;
    
  }
  .navbar-user div:hover,.navbar-shopping-cart-containerImg{
    content:fit;
    cursor: pointer;
  }

  .navbar-right-search div{
    position: relative;
    width: fit-content;
   
  }

  .navbar-right-search div:hover{
    cursor: pointer;
    
  }

  .navbar-right-search div input{
    cursor: pointer;
  }
  .navbar-right-search div input{
    align-items: center;
    margin-left:10px;
    margin-right: 15px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  .navbar-right-search div:focus, .navbar-right-search div input:focus{
    outline: none;
    width: max-content;
    z-index: 1;
  }
  .navbar-right-search div img{
    
    
    position: absolute;
    top: 3px;
    left:15px;
    width: 15px;
    height: 15px;
  }

 
    
  
  .navbar-right{
    position: relative;
  }
 
  .container-login{
    border: 1px solid #ccc;
    margin-top:10px;
    display: none;
    background-color: white;
    height:fit-content;
    
    padding: 10px;
    position: absolute;
    right: 0px;
    
  }

  .container-login h2{
    justify-content: start;
    color: black;
  }

  .container-login p {
    margin-top:20px;
    margin-bottom:0px;
  }


  .container-login p a{
    border: none;
    outline: none;
    margin-top:20px;
    justify-content: start;
    color: black;
    text-decoration: none;
    font-size: var(--sm);
  }

  .container-login p a:hover{
   
    text-decoration: underline;
    
  }
  .container-login span{
    background-color:white;
    border: 1px solid black;
    color: black;
    font-size: var(--sm);
    padding: 10px 30px;
    text-align: center;
    justify-content: center;
    outline: none;
  }

  .container-login span a{
    
    color: black;
   

  }

  .container-login span:hover{
    border:none;
    outline: none;
    background-color: black;
    color: white;
    
  }

  .container-login span:hover a, .container-login span a:hover{
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    
  }
  

  
  .navbar-user-img{
      margin-right: 10px;
      height: 30px;
      width: 30px;

  }

  .navbar-user-containerImg:hover div, .container-login:hover{
    display: block;
  }
  /*.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
  }*/
  .navbar-shopping-cart {
    position: relative;
  }
  .navbar-shopping-cart-number{
    width: 16px;
    height: 16px;
    background-color: var(--black);
    color:white;
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main{
    position: relative;
  }
  .main-img{
    content: fit;
    display: block;
    width: 100%;
    height: 87vh;
    position: absolute;
    z-index: -1;
  }

  .main-container-textButton{
    position: absolute;
    top:20vh;
    left: 3vw;
    color: var(--white);
  }
  .main-container-text p{
    margin-top: -10px;
    font-size: var(--sm);
  }

  .main-container-buttons {
    margin-top: 30px;
  }

 

   .main-container-buttons span {
    margin-right: 10px;
    border: 1px solid white;
    padding: 10px;
    color: white;
  }

  .main-container-buttons span a{
    color: var(--white);
    text-decoration: none;
    font-size: var(--sm);
  }
  .main-container-buttons span:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
  }
  .main-container-buttons span:hover a{
    color: var(--black);
  }
  
  
 
  @media (max-width: 640px) {
    /*.menu {
      display: flex;
    } */

    .container-menu-mobile{ 
      align-items: center;
      
      display: flex;
     }
    .menu{
      
      width: 30px;
      height: 30px;
    }

    .icon-search-aux{ 
      width:20px;
      height:20px;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-email {
      display: none;
    }
    .top-section{
        align-items: center;
        justify-content:center;
    }
    .top-section-right p{
        display: block;
    }

    nav{
      display: flex;
      justify-content: space-between;
    }
    .navbar-right-search div input, .navbar-right-search div img{
      display: none;
    }

    

  }
  
